html {
    scroll-behavior: smooth;
}

body {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

header {
    background-color: RGB(255, 240, 245);
    padding: 16px;
}

section {
    border: 1px solid grey;
    padding: 16px;
    margin: 8px;
}